body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
    flex-direction: row; /* Default layout for larger screens */
}

#map-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#map {
    flex: 2;
}

#slider-container {
    padding: 10px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

#slider {
    width: 80%; /* Adjusts the slider to take 80% of the slider container's width */
    margin-left: 10px;
}

#year {
    font-size: 18px;
}

#right-panel {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space out elements evenly */
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

#instructions-button {
    align-self: flex-end; /* Align button to the right */
    margin-bottom: 10px; /* Add space below the button */
}

#instructions-button button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    background: none; /* Simple default button style */
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
}

#chart-container {
    width: 100%;
    height: 50vh;
    margin-bottom: 20px;
}


#chart {
    width: 100%; /* Chart takes full width of the right panel */
    height: 100%; /* Chart takes the height of the container */
    max-height: 100%; /* Ensure the chart doesn't exceed its container's height */
    object-fit: contain; /* Make sure the chart fits within the given space */
}

#credits {
    text-align: center;
    font-size: 16px;
    color: #666;
    margin-top: auto; /* Push credits to the bottom */
    margin-bottom: 0;
}

#credits p {
    margin: 5px 0;
}

#credits a {
    color: #007bff;
    text-decoration: none;
}

#credits a:hover {
    text-decoration: underline;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    body {
        flex-direction: column; /* Stack map and panel vertically */
    }

    #map-container {
        width: 100%;
        flex: 1;
    }

    #map {
        height: calc(100vh - 40%); /* Adjust the map height to fill the remaining space */
    }

    #right-panel {
        flex: 0 0 40%; /* Takes up 40% of the screen height on mobile */
        width: 100%; /* Full width panel */
        height: 40%; /* 40% of the screen height */
        padding: 10px;
        max-width: none; /* Remove any max-width restriction */
    }

    #chart-container {
        height: 200px; /* Adjust the chart height on mobile */
    }

    #instructions-button {
        top: 10px;
        right: 10px;
        margin-bottom: 5px; /* Adjust margin for mobile */
    }
}
